# FLUX.1 Realism & PuLID Service Configuration
PORT=8080
IMAGE_API_KEY=sk-tavern-img-dev-8f92b7c4a1e35d6092f1b4e7c3a8e9d2
MODELS_BUCKET=tavern-swiper-dev-models-cache
COMFY_HOST=127.0.0.1:8188
COMFY_INPUT_DIR=/tmp/comfyui_input
