PORT=8013
JWT_SECRET=super-secret-tavern-key-123
GOOGLE_CLOUD_PROJECT=tavern-swiper-dev
FIRESTORE_DATABASE_ID=quests-dev
PROFILES_SERVICE_URL=http://localhost:8002
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
FIRESTORE_EMULATOR_HOST=localhost:8080
